<import from="../../modal/modal"></import>

<!-- <button click.delegate="clickSignin()">Signout</button> -->
<a click.trigger="clickSignin()" data-bs-toggle="modal" data-bs-target="#exampleModal">Signin</a>

<!-- Modal -->
<modal id="exampleModal" header.bind="Signin" close.bind=false footer.bind=false>
  <!-- autofill username/pass with remind me, might be done automatically by browser? -->

  <form submit.trigger="submitSignin()">
    <!-- Email -->
    <div class="mb-3">
      <label for="signinUser" class="form-label">Email</label>
      <input id="signinUser" type="email" class="form-control" value.bind="identifier">
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label for="signinPass" class="form-label">Password</label>
      <input id="signinPass" type="password" class="form-control" value.bind="password">
    </div>
    <!-- Remember me -->
    <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <!-- btn -->
    <button type="submit" class="btn">Submit</button>
  </form>

  <hr>
  <div>
    <div style="width: 50%; margin-left: auto; margin-right: auto;">
      <div id="g_id_onload" data-client_id="850322629277-c9fu1umd1dlk7tjv325u6s33g32fb0ea.apps.googleusercontent.com" data-context="signin" data-ux_mode="popup" data-auto_select="true" data-itp_support="true" data-auto_prompt="false" data-callback="signinGoogleCallback"></div>
      <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="filled_black" data-text="signin" data-size="large" data-logo_alignment="left" data-bs-dismiss="modal"></div>
    </div>
    <!-- <button click.delegate="clickGoogle()">Google</button> -->
    <button click.delegate="clickTwitter()">Twitter</button>
    <button click.delegate="clickFacebook()">Facebook</button>
  </div>
</modal>
