
creature {
    display: block;
    h3 {
        border-bottom: 1px solid #58585885; 
    }
    .titleSpacer {
        margin-top: 20px;
    }
}

spell {
    .mainSpellProperties {
        display: flex;
        
    }
    .mainSpellProperties>div {
        margin-right: 15px;
    }
}
