<!-- Modal -->
<template class="modal fade" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header" if.bind="header || close">
        <h5 class="modal-title" id="exampleModalLabel" if.bind="header">${header}</h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" if.bind="close">✕</button>
      </div>

      <div class="modal-body">
        <au-slot></au-slot>
      </div>

      <div class="modal-footer" if.bind="footer">
        <button type="button" class="btn" data-bs-dismiss="modal" click.trigger="clickOk()">Ok</button>
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</template>
