<!-- Modal -->
<template class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">header: ${asd}</h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">✕</button>
      </div>

      <div class="modal-body">
        <au-slot></au-slot>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn">Ok</button>
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</template>
