<import from="./signin/signin"></import>
<import from="./signup/signup"></import>
<import from="./signout/signout"></import>

<!-- <div if.bind="!isConnected()" class="d-flex"> -->
<!-- </div> -->


<div class="d-flex">
  
  <li class="nav-item" if.bind="!isConnected">
    <signin></signin>
  </li>

  <li class="nav-item" if.bind="!isConnected">
    <signup></signup>
  </li>

  <li class="nav-item" if.bind="isConnected">
    <!-- <div if.bind="isConnected()" class="d-flex"> -->
    <div innerhtml.bind="displayName">
      <!-- show account's displayName as a button to go  see his account's info/settings -->
      <!-- ${getConnectedAccount().displayName} -->
    </div>
    <signout></signout>
    <!-- </div> -->
  </li>
</div>
