

<div class="d-flex justify-content-center gap-2 smaller">
    <button class="btn btn-outline-dark btnDelete" click.trigger="delete()" class="save">-</button>
    <button class="btn btn-outline-dark btnRefresh" click.trigger="refresh()">Refresh</button>
    <button class="btn btn-outline-dark btnAdd" click.trigger="addItem()">+</button>
</div>

<input class="smaller" value.bind="filterText" placeholder="Search..."/>

<div class="listitems">
    <table class="table">
        <tbody>
            <th></th>
            <th>#</th>
            <td>Name</td>
            <tr class="listitem ${item == selected ? 'selected' : ''}" repeat.for="item of filtered" click.trigger="selectItem(item)">
                <td>
                    <input type="checkbox" click.trigger="multiSelect(item)" checked.bind="multiSelected.includes(item)"/>
                </td>
                <td>${item._id}</td>
                <td>${item.name}</td>
            </tr>
        </tbody>
    </table>
</div>
