<!-- <button click.delegate="clickSignup()">Signout</button> -->
<a click.trigger="clickSignup()">Signup</a>

<!-- modal -->
<div style="display: none;">
    <form>
        <input type="text" value.bind="username">
        <input type="text" value.bind="displayName">
        <input type="password" value.bind="password">
        <button type="submit" click.delegate="submitSignup()">Signup</button>
    </form>

    <div>
        <button click.delegate="clickGoogle()">Google</button>
        <button click.delegate="clickTwitter()">Twitter</button>
        <button click.delegate="clickFacebook()">Facebook</button>
    </div>
</div>
