<import from="../../modal/modal"></import>

<!-- <button click.trigger="clickSignup()">Signout</button> -->
<a click.trigger="clickSignup()" data-bs-toggle="modal" data-bs-target="#signupModal">Signup</a>


<modal id="signupModal" header.bind="Signup" close.bind=false footer.bind=false>

    <form submit.trigger="submitSignup()">
        <!-- Email -->
        <div class="mb-3">
          <label for="signinUser" class="form-label">Email</label>
          <input id="signinUser" type="email" class="form-control" value.bind="identifier">
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label for="signinPass" class="form-label">Password</label>
          <input id="signinPass" type="password" class="form-control" value.bind="password">
        </div>
        <!-- Remember me -->
        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <!-- btn -->
        <button type="submit" class="btn" data-bs-dismiss="modal">Submit</button>
      </form>
    

  <!-- Google -->
  <div>
    <div id="g_id_onload" data-client_id="myclientid" data-context="signup" data-ux_mode="redirect" data-login_uri="localhost:9000/home" data-nonce="" data-auto_prompt="false"></div>
    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signup_with" data-size="large" data-logo_alignment="left"></div>
  </div>

</modal>
