
<h5>Team</h5>
<div>
    <input type="checkbox" value.bind="filter.team.allowAlly" />
    <input type="checkbox" value.bind="filter.team.allowEnemy" />
    <input type="checkbox" value.bind="filter.team.allowSelf" />
</div>

<h5>Cell</h5>
<div>
    <input type="checkbox" value.bind="filter.cell.allowEmpty" />
    <input type="checkbox" value.bind="filter.cell.allowOccupied" />
</div>

<h5>Creature</h5>
<div>
    <input type="text" value.bind="filter.creature.modelsAllowed" />
    <input type="text" value.bind="filter.creature.modelsDisallowed" />
    <input type="text" value.bind="filter.creature.modelAllowedSummonedBy" />
    <input type="text" value.bind="filter.creature.modelDisallowedSummonedBy" />
    
    <input type="checkbox" value.bind="filter.creature.allowSelfSummons" />
    <input type="checkbox" value.bind="filter.creature.allowSummoners" />
    <input type="checkbox" value.bind="filter.creature.allowSummons" />
</div>


