// @bg-color: white;

body {
  // color: var(--color_text);
  // background-color: var(--bg);
  background-color: var(--bg0) !important;
  color: var(--front0) !important;
}

au-viewport {
  display: block;
  margin: 15px;
}

.theme-light {
  --bs-body-color: var(--front0) !important;
  --bs-body-bg: var(--bg0) !important;

  --bg0: #ffffff; // level 0 white
  --bg1: #f2f2f2; // level 1 white
  --front0: black; // #bdbdbd; // text on background
  --front1: rgba(255, 255, 255, 0.87); // text on accent
  --accent0: #BB86FC; // purple
  --accent1: #13776d; // teal
  --accent2: darkred; // #CF6679; // red error 
  --accent1a: #13776d7e; // teal with alpha 
  --shadow: rgb(223, 223, 223);
  --input: transparent;

  --surface: #FFFFFF;
  --onsurface: #121212;
  --primarysurface: #3700B3;
}

.theme-dark {
  --bs-body-color: var(--front0) !important;
  --bs-body-bg: var(--bg0) !important;
  --bs-btn-color: var(--front0) !important;

  // 1b1b1c
  // 121212
  --bg0: #1b1b1c; // level 0 dark
  --bg1: #212121; // level 1 dark
  --front0: rgba(255, 255, 255, 0.87); // #bdbdbd; // text on background
  --front1: black; // text on accent
  --accent0: #BB86FC; // purple
  --accent1: #03DAC5; // teal
  --accent2: darkred; // #CF6679; // red error 
  --accent1a: rgba(3, 218, 197, 0.5); // teal with alpha 
  --shadow: #141414;
  --input: grey;

  --surface: #FFFFFF;
  --onsurface: #121212;
  --primarysurface: #3700B3;
}

h2, h3, h4, h5 {
  color: var(--accent0);
}

input[type="number"], input[type="text"] {
  color: var(--front0);
  background: var(--bg0);
  border: 1px solid var(--accent1a);
  padding: 3px;
  box-shadow: 2px 2px 2px var(--shadow);
}


/* button */
/* this button is accent>transparent and turns black>accent on hover */
.btn {
  color: var(--front1);
  background: var(--accent1);
  border-color: var(--accent1);
}
.btn:hover {
  color: var(--accent1);
  background: var(--bg0);
  // border: 1px solid transparent;
}
.btn-check:checked+.btn {
  color: var(--front1);
  background: var(--accent1);
}
.btn-check:checked+.btn:hover {
  color: var(--accent1);
  background: var(--bg0);
}
.btn-outline {
  color: var(--accent1);
  background: var(--bg0);
  border: 1px solid var(--accent1);
}
.btn-outline:hover {
  color: var(--front1);
  background: var(--accent1);
}



.toast-container {
  // background-color: #13776d;
}
.toast-header {
  background-color: var(--accent1);
  color: var(--front1);
}
.toast-body {
  background-color: var(--accent1);
  color: var(--front1);
}
