<import from="../pages/home/home"></import>
<import from="../pages/auth/auth"></import>
<import from="../pages/missing/missing-page"></import>
<import from="./auth2/authHeader"></import>
<import from="../pages/encyclopedia/strings/stringcomponent"></import>

<nav class="navbar navbar-expand-lg">

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a load="home">Home</a>
    </li>

    <!-- TODO: how to include this tab only in dev/private build? -->
    <li class="nav-item">
      <a load="editor">Editor</a>
    </li>

  </ul>

  <ul class="navbar-nav ms-auto">
    <li>
      <a click.trigger="goBack()">
        <i class="fa-solid fa-chevron-left"></i>
      </a>
    </li>
    <li if.bind="activecreature">
      <a load.bind="'editor/creature/' + activecreature.modeluid">
        <stringcomponent uid.bind="activecreature.nameuid"></stringcomponent>
      </a>
    </li>
    <li if.bind="activespell">
      <a load.bind="'editor/spell/' + activespell.modeluid">
        <stringcomponent uid.bind="activespell.nameuid"></stringcomponent>
      </a>
    </li>
    <li>
      <a click.trigger="goForward()">
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a href="https://twitter.com/souchy7" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="nav-item">
      <a click.trigger="changeTheme()">Theme</a>
    </li>
    <li class="nav-item">
      <!-- <a click.trigger="loginUI()">Login</a> -->
      <!-- <a load="auth">Login</a> -->
    </li>
    <li class="nav-item">
      <!-- <a click.trigger="loginUI()">Login</a> -->
      <!-- <a load="auth2">Auth2</a> -->
    </li>

    <auth-header></auth-header>

  </ul>

</nav>
